
#top-container {
 -fx-background-color:  linear-gradient(#964B00,grey );
 -fx-border-color: #111111;
 -fx-border-radius: 20;
 -fx-background-radius: 20;  
}
 
#spalsh-box {
 -fx-border-radius: 20;
 -fx-background-radius: 20; 
-fx-background-color: rgba(87.1, 72.2, 52.9, 0.8);
}

.label {
   -fx-text-fill: #111111;
   
}   
.button {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(orange, orangered );
}
.button:focused{
    -fx-background-color: gray;
    }
 #left-container {
 -fx-background-image: url("wood2.jpg");
 -fx-border-color: #111111;
 -fx-border-radius: 20;
 -fx-background-radius: 20;
  
}
#right-container {
 -fx-border-color: #111111;
 -fx-border-radius: 20;
 -fx-background-radius: 20;
 -fx-background-image: url("library.jpg");
 /*-fx-background-repeat: stretch; */  
}

.hyperlink {
   -fx-text-fill: #000099;
   -fx-font-size: 20px;
   -fx-font-weight: bold;
   -fx-underline: false;
   -fx-text-fill: #111111;
   
}

#welcome-container {
 -fx-background-image: url("library.jpg");
  
}

.text-field{
   -fx-padding: 1,1,1,1;
   -fx-border-color: grey;
   -fx-border-width: 2;
   -fx-border-radius: 6;
   -fx-border: gone;
}

/* 
#welcome-container {
 -fx-background-color:  linear-gradient(lightgray, gray);
 -fx-border-color: white;
 -fx-border-radius: 20;
 -fx-padding: 10 10 10 10;
 -fx-background-radius: 20;
  
}*/